{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "eslintIntegration": true,
  "endOfLine": "auto",
  "semi": true,
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
